.approved,
.rejected,
.unreviewed {
  margin: 10px;
  padding: 10px;
  .border-radius(4px);
  display: block;
  text-align: center;
  p { margin: 0; }
  color: @white;
  width: 80px;
  font-size: 10px;
  margin: 0;
  padding: 4px;
}
.approved {
  background-color: @green;
}
.rejected {
  background-color: @red;
}
.unreviewed {
  background-color: @blue;
}
.project-members {
  width: 100%;
  h2 {
    padding: 10px 20px;
    background-color: #EEE;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
  }
  .project-member {
    border-bottom: 1px solid #DDD;
    display: flex;
    padding: 10px 0;
    .avatar {
      flex: 0 0 40px;
      margin: 0 10px 0 0 !important;
      display: block;
      width: 40px;
      height: 40px;
    }
    p {
      flex: 1;
      color: #666;
      margin: 0;
      strong {
        color: #000;
      }
    }
    .owner, .member, .approver {
      flex: 0 0 60px;
      display: flex;
      span {
        display: block;
        width: 70px;
        margin: auto 0 auto auto;
        color: @white;
        padding: 2px 6px;
        font-size: 11px;
        font-weight: bold;
        border-radius: 4px;
        text-align: center;
      }
    }
    .owner span {
      background-color: @red;
    }
    .approver span {
      background-color: @orange;
    }
    .member span {
      background-color: @yellow;
    }
  }
}
