.tabs-menu {
  background-color: #FFFFFF;
  margin-bottom: 15px;
  .ui.item.menu {
    width: auto;
  }
  .item {
    cursor: pointer;
  }
}
.tab-panes {
  position: relative;
  min-height: ~"calc(100vh - 100px)";
}
.tab-pane {
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.tab-pane {
  .list {
    .border-radius(5px);
    border: 1px solid #DDD;
    .item {
      overflow: hidden;
      padding: 10px 15px;
      border-bottom: 1px solid #DDD;
      color: #888;
    }
  }
}
